@import '../../styles/globalStyles.scss';

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 50% 50%;
  position: fixed;
  width: calc(100vw - #{$side-bar-width});
  margin-left: $side-bar-width;
  background-color: white;
  z-index: 99;
}

.halfLeft {
  grid-column-start: 1;
  display: flex;
  align-items: center;
}

.halfRight {
  grid-column-start: 2;
}

.borderLine {
  border: 2px solid #EEEEEE;
}
